@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap');
/* MAIN STYLE */

.custom-card {
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    background: #fafbff;
}

.custom-card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.custom-card p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #878a9a;
}

/* .custom-card button {
    outline: 0;
    border: 0;
        -webkit-appearence: none;
	background: #5256ad;
	color: #fff;
	border-radius: 4px;
	transition: 0.3s;
	cursor: pointer;
	font-weight: 400;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	font-size: 0.8rem;
	padding: 8px 13px;
} */

/* .custom-card button:hover {
	opacity: 0.8;
} */

/* .custom-card button:active {
	transform: translateY(5px);
} */
.custom-border{
	border: 2px dashed #d5d5e1 !important;
}
.custom-card .drag-area {
	width: 100%;
	height: 160px;
	border-radius: 5px;
	border: 2px dashed #d5d5e1;
	color: #c8c9dd;
	font-size: 0.9rem;
	font-weight: 500;
	position: relative;
	background: #dfe3f259;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	-webkit-user-select: none;
	margin-top: 10px;
}

.custom-card .drag-area .visible {
	font-size: 18px;
}
.custom-card .select {
    color: #5256ad;
	margin-left: 5px;
	cursor: pointer;
	transition: 0.4s;
}

.custom-card .select:hover {
	opacity: 0.6;
}

.custom-card .container {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-wrap: wrap;
	max-height: 200px;
	overflow-y: auto;
	margin-top: 10px;
}

.custom-card .container .image {
	margin-right: 10px;
	width: 10%;
	height: 75px;
	position: relative;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem!important;
}

.custom-card .container .image img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.custom-card .container .image span {
	position: absolute;
	cursor: pointer;
    top: -7px;
    right: -5px;
    font-size: 13px;
    cursor: pointer;
	font-weight: 900;
    background: #dfd9d9;
    padding: 0 5px;
    border-radius: 50%;
}

.custom-card .container .image span:hover{
	color: red;
}
/* dragover class will used in drag and drop system */
.custom-card .drag-area.dragover {
	background: rgba(0, 0, 0, 0.4);
}

.custom-card .drag-area.dragover .on-drop {
	display: inline;
	font-size: 28px;
}

.custom-card input,
.custom-card .drag-area .on-drop, 
.custom-card .drag-area.dragover .visible {
	display: none;
}

span.fas.fa-check-double.bg-success {
    padding: 3px;
    color: white !important;
}